/*==================================================
--------------------------------------------------
GENERAL
--------------------------------------------------
==================================================*/

.debug {
  background: darkred;
}

body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.section-color, .section-white {
  padding: 96px 0;
}

.section-color { background: #1abc9c; }
.section-white { background: #fff; }

.section-color .divider,
.section-white .divider {
  position: relative;
  max-width: 100%;
  margin: 0 auto 32px;
}

.section-color .divider .lf_line { background: #fff; }
.section-white .divider .lf_line { background: #333; }

.section-color .divider i.fas,
.section-white .divider i.fas {
  font-size: 32px;
  display: inline-block;
  margin: 0 12px;
}

.divider .lf_line {
  width: 100%;
  max-width: 115px;
  height: 4px;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 6px;
}

.wrapper {
  max-width: 65%;
  margin: 0 auto;
}

h1,h2,h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

a { color: #1abc9c; }

a:hover {
    color: #117964;
    text-decoration: underline;
}

/*==================================================
--------------------------------------------------
HEADER
--------------------------------------------------
==================================================*/

.header-top {
  background: #2c3e50;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 80px;
}

.header-top a {
  color: #fff;
}

.logo {
  font-size: 28px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 637px) {
  .logo {
    font-size: 20px
  }
}

@media screen and (max-width: 471px) {
  .logo {
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
}

/* --------------------------------------------------
NAVBAR*/

.lf_navbar, ul.main-menu {
  margin: 0;
  float: right;
}

.lf_navbar ul.main-menu li {
  list-style: none;
  display: inline;
}

ul.main-menu li:not(:first-child) a {
  margin-left: 32px;
}

ul.main-menu li a:hover {
  background: transparent;
  color: #1abc9c;
  text-decoration: none;
}

.btn_green {
  background: #1abc9c;
  padding: 12.8px;
  border-radius: 10px;
  font-weight: 800;
  color: #fff;
}

/* --------------------------------------------------
JUMBO */

.jumbo {
  padding: 200px 0 96px;
  color: #fff;
}

.jumbo .avatar {
  width: 240px;
  margin-bottom: 48px;
}

/*==================================================
--------------------------------------------------
MAIN
--------------------------------------------------
==================================================*/

/* Portfolio */
.work {
  margin-bottom: 30px;
  position: relative;
}

.work img {
  width: 100%;
  border-radius: 10px;
}

.layover {
  display: none;
  background: rgba(26,188,156,.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.work:hover .layover {
  display: block;
  cursor: pointer;
}

.layover i.fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
}

/* About */

.about {
  background: #1abc9c;
  color: #fff;
}

.btn-white-outline {
  padding:  16px 28px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 800;
  margin-top: 24px;
  font-size: 20px;
}

.btn-white-outline:hover {
  background: #fff;
  color: #333;
}

.btn-white-outline .fas {
  margin-right: 8px;
}

/* Contact */

.lf_input {
  border-radius: 0;
  padding: 48px 0;
  border: none;
  border-bottom: 1px solid #e9ecef;
  box-shadow: none;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
}

.lf_input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #e9ecef;
}

.lf_input::placeholder {
  color: #6c757d;
  font-size: 20px;
  font-weight: 400;
}

.contact .btn_green {
  padding: 16px 28px;
  font-size: 20px;
}

.contact .btn_green:hover {
  background-color: #159a80;
  border-color: #148f77;
  color: #fff;
}

/*==================================================
--------------------------------------------------
FOOTER
--------------------------------------------------
==================================================*/

.footer {
  background: #2c3e50;
  color: #fff;
  padding: 80px 0;
}

.footer h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.footer-bottom {
  background: #1a252f;
  color: #fff;
  padding: 24px 0;
}

.footer-bottom p {
  font-size: 12px;
  margin: 0;
}

.footer ul.social_icon {
  margin: 0 auto;
  padding: 0;
}

.footer ul.social_icon li {
  width: 52px;
  height: 52px;
  border: 2px solid #fff;
  border-radius: 50%;
  list-style: none;
  display: inline-block;
  margin-left: 8px;
}

.footer ul.social_icon li:first-child {
  margin-left: 0;
}

.footer ul.social_icon li a {
  color: #fff;
  line-height: 48px;
}
